.grand{
    width:100vw;
    height: auto;
    /* background: blue;
    color: black; */
    /* background-color: orange; */
}
p{
    text-indent: 1em;
}
.parent{
    width:90vw;
    height: auto;
    margin: auto;
    /* background: pink; */
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    font-weight:900;
    text-transform: capitalize;
    line-height: 30px;
    font-size: large;
}
.child{
    /* box-shadow: 0 0 15px; */
    /* background-color: blanchedalmond; */
    flex:1 1 200px;
    margin:20px;
    word-spacing: 2.5px;
    line-height: 35px;
    color: rgb(255, 213, 0);
}
.child:first-child{
    /* background-color: orange; */
}   
.child:last-child{
    /* background-color: blueviolet; */
}

@media(max-width:862px){
    .grand{
        height: auto;
    }
}