/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

} 
html{
  font-size: 65.5%;
}
nav{
  display: flex;
  height: 8.0em;
  width: 100%;
  /* background: #1b1b1b; */
  align-items: center;
  justify-content: space-between;
  padding: 0 5.0em 0 10.0em;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 3.5em;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 2.5em;
}
nav ul li a{
  background: linear-gradient(
    to right,
    #bd1313 0%,
    #d915b5 50%,
    #7eea8b 100%
    );
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 500;
  padding: .8em 1.5em;
  border-radius: .5em;
  letter-spacing: .1em;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 2.2em;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 100.0em){
  nav{
    padding: 0 4.0em 0 5.0em;
  }
}
@media (max-width: 92.0em) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 8.0em;
    
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    
    text-align: left;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 4.0em 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 2.0em;
    /* transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  }
  #click:checked ~ ul li a{
    margin-left: 5.0em;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
